.header {
	overflow: hidden;
	._header-base-wrapper {
		height: 70px; top:0; right: 0; left: 0;
		._header-base {

			padding-top: 27px; padding-right: 7px; padding-left: 7px;
			text-align: center;

			/* Top Navbar  */

			.navbar--notifications {
			    width: 29px; height: 29px; display: inline-block; float: left;
			    background-image: url('../img/notification-asset.svg');
			    background-repeat: no-repeat; background-size: 100%;
			    position: relative;

			    span {
			    	font-size: 12px; color: $color-grey4; font-weight: 900;
			    	width: 16px; height: 13px; position: absolute; top: 0px; bottom: 0; left: 0px; right: 3px; margin: auto; text-align: center; display: block;
			    }

			    &.notification-true {
			    	&:after {
			    		content:''; display: block; width: 8px; height: 8px;
			    		background-color: $color-pink; border-radius: 50%;
			    		position: absolute; top: 1px; right: 1px; opacity: 0.9;
			    	}
			    }
			}
			.navbar--title {
				display: inline-block; text-align: center;
				h1 {font-size: 1.8em; color: $color-grey5; font-weight: 300; margin: 0 auto; position: relative; bottom: 3px;}
			}

			.navbar--ooms {
				display: inline-block; float: right;
				span {
					display: block; color: $color-grey4;
					height: 29px;
			    	padding-top: 8px;
			    	font-size: 0.9em; font-weight: 400;
				}
			}
			.header-list {
				width: 100%;
				li {
					display: inline-block;
					&:nth-child(1) {
						-webkit-box-orient: vertical;
			            -webkit-line-clamp: 2;
			            white-space: normal;
					}
					&:nth-child(2) { float: left; }
					&:nth-child(3) { float: right; }
				}
			}
		}
	}
	._header-cat {
		height: 22px;
		ul {
			display:block; min-width: 100%;
			white-space: nowrap; overflow-x: scroll; overflow-y: hidden; text-align: center;
			li {
				display: inline-block; margin: 0 10px;
				a {font-size: 0.9em; font-weight: 100; color: $color-white; opacity: 0.5;}
			}
		}

	}


	&.scrolled {
		._header-base-wrapper {
			position: fixed; z-index: 1000; height: 52px;
			-webkit-transition: all .2s;
			._header-base {
				padding-top: 10px;
				-webkit-transition: all .2s;
			}
		}
		._header-cat {
			margin-top: 70px;
			-webkit-transition: all .2s;
		}
	}
}

