@keyframes show {
	0% { opacity: 0; }
	100% { opacity: 0.4; }
}

.hero {
	margin-top: 125px;
	//height: 538px;
	position: relative;
	background-color: $red;

	@media screen and (max-width: $break-small) {
		margin-top: 100px;
	}

	&:before, &:after{
		content: ' ';
		display: table;
	}

	> * {
		position: relative;
		z-index: 2;
	}

	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		opacity: 0.4;

		animation-name: show;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 0.5s;
	}
}
	.hero-logo-wrap {
		margin-top: -100px;

		h1 {
			margin: 12px 0 0 0;
			font-family: 'alien';
			font-size: 48px;
			font-weight: 100;
			text-align: center;
			color: white;
		}
	}
	.hero-logo {
		margin: 0 auto;
		padding: 10px;
		width: 150px;
		border-radius: 75px;
		background-color: #fff;
	}
	.hero-content {
		margin: -15px auto 0 auto;
		max-width: 1000px;
		display: flex;
		justify-content: space-around;
		color: #fff;

		@media screen and (max-width: $break-small) {
			margin-top: 35px;
			flex-wrap: wrap;
		}

		> div {
			max-width: 35%;
			text-align: center;

			@media screen and (max-width: $break-small) {
				max-width: 90%;
			}
		}
		h2 {
			margin: 0 0 40px;
			padding: 4px 10px;
			display: inline-block;
			position: relative;
			font-size: 24px;
			font-weight: 200;
			letter-spacing: 0.1em;
			text-align: center;
			text-transform: uppercase;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 10px;

			@media screen and (max-width: $break-small) {
				margin: 0 0 40px 40px;
			}

			i {
				position: absolute;
				z-index: 0;
				top: -20px;
				font-size: 80px;
				color: rgba(255,255,255,0.2);
				transform: rotate(-30deg);
			}
		}
		p {
			margin: 0 0 12px 0;
			font-size: 20px;
			font-weight: 200;
			text-align: justify;

			&:last-of-type {
				margin: 0 0 32px 0;
			}

			@media screen and (max-width: $break-small) {
				margin-bottom: 20px;
			}
		}
		ul {
			margin: 0 0 40px 0;
			padding: 0;
			list-style: none;
			font-size: 18px;
		}
		a[name] { display: none; }
		a {
			margin: 0 0 80px 0;
			padding: 6px 12px;
			display: inline-block;
			font-size: 22px;
			text-decoration: none;
			text-transform: uppercase;
			color: $red;
			background-color: white;
			border-radius: 10px;
			box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
		}
	}
	.hero-startups {
		i { left: -50px; }
		h2 { margin-left: 30px; }
	}
	.hero-enterprise {
		i { left: -75px; }
		h2 { margin-left: 60px; }
	}
	.hero-separator {
		display: none;
		width: 90%;
		height: 1px;
		margin-top: -10px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		border-top: 1px solid rgba(150,150,150,0.1);

		@media screen and (max-width: $break-small) {
			display: block;
		}
	}