/* gradient background classes */

.full-gradient {
 	@include linear-gradient(-35deg, #e3068f 0%, #1591ed 100%);
}

.half-cold-gradient {
	@include linear-gradient(-35deg, #8241AD 0%, #1591ED 100%);
}

.half-hot-gradient {
	@include linear-gradient(-35deg, #E3068F 0%, #8241AD 100%);
}

.medium-gradient {
	@include linear-gradient(-35deg, #B12197 0%, #5361C4 100%);
}

/*****/

.flex-spacer {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 10;
    flex-shrink: 10;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: black;
}

#canvas, .container {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
}

#canvas {
  opacity: 0.7;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    //border: 1px solid blue;
}
.flex-item {
   //background-color: red;
    padding: 5px;
    text-align: center;
}

//**** LOGO *****//

.hub-logo {
  animation-delay: 2s;
  animation: hub-bounce 10s infinite forwards;
  transition: all cubic-bezier(0,.99,.17,.99);
}

.nine-logo {
  animation-delay: 2s;
  animation: nine-bounce 10s infinite forwards;
  transition: all cubic-bezier(0,.99,.17,.99);

  position: relative;
  top: 6px;
  right: 8px;

}
//**** TAGLINE *****//

.tagline {
display: block;
color: white;
line-height: 16px;
opacity: 0.7;
text-transform: uppercase;
}

h3 {
  text-align: center;
  color: white;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  height: 40px; width: 100%;
  margin: auto;
  bottom: 20px;
  opacity: 0.2;
  z-index: 10;

  a {
    color: white;
    text-transform: lowercase;
    font-weight: bold;
  }
}

//**** DOTS *****//

.dots-container {
  width: 27px; //height: 22px;
  //padding: 0 2px 0 6px;


    .dot{
      width: 4px; height: 4px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      float: left;
      margin-right: 4px;
      margin-bottom: 4px;
      transition: all cubic-bezier(0,.99,.17,.99);

      &.one, &.two, &.three, &.four, &.five {
        background-color: #6b37d1;
      }

  }
}


//************************ ANIMATIONs ************************//

//**** ANIMATION DOTS ****//

 /* there are 9 dots so we need to loop through 9 times */
@for $i from 1 through 9{
  .dot:nth-child(#{$i}){
    animation-delay: 2s;
    animation: flyin#{$i} 10s infinite forwards;
  }

  @keyframes flyin#{$i}{
    0%{
      transform: translate(random(700) - 350 + px, random(700) - 350 + px);
      opacity: 0;
    }
    10%{
      transform: translate(random(700) - 350 + px, random(700) - 350 + px);
      opacity: .1;
    }
    20%{
      transform: translate(0,0);
      opacity: 1;
    }
    80%{
      transform: translate(0,0);
      opacity: 1;
    }
    90%{
      transform: translate(0,0);
      opacity: .8;
    }
    100%{
      transform: translate(random(700) - 350 + px, random(700) - 350 + px);
      opacity: 0;
    }
  }
}


//**** ANIMATION HUB ****//

@keyframes ub-bounce{
    0%{
      transform: translate(-10%,0) rotate(-3deg);
    }
    10%{
      transform: translate(-10%,0) rotate(-3deg);
    }
    25%{
      transform: translate(0,0) rotate(0);
    }
    90%{
      transform: translate(0,0);
    }
    95%{
      transform: translate(-10%,0) rotate(-4deg);
    }
    100%{
      transform: translate(-10%,0) rotate(-3deg);
    }
  }




//**** ANIMATION NINE ****//

@keyframes ne-bounce{
    0%{
      transform: translate(10%,0) rotate(3deg);
    }
    10%{
      transform: translate(10%,0) rotate(3deg);
    }
    25%{
      transform: translate(0,0) rotate(0);
    }
    90%{
      transform: translate(0,0);
    }
    95%{
      transform: translate(10%,0) rotate(4deg);
    }
    100%{
      transform: translate(10%,0) rotate(3deg);
    }
  }


//**** Dotzie ****//



