/* --- Path --- */
@img: '../img/';


/* --- Colors --- */

$color-black: #000000;
$color-grey1: #0F2834;
$color-grey2: #4C626D;
$color-grey3: #A6B6BD;
$color-grey4: #C2CED1;
$color-grey5: #EDEFED;
$color-white: #FFFFFF;

$color-blue: #1591ED;
$color-lilac: #5361C4;
$color-purple: #8241AD;
$color-magenta: #B12197;
$color-pink: #e3068f;


/*** FROM WEBAPP ****/

// Fonts -----------------------------------------------------------------------

$font-main: 'Proxima Nova', Proxima-Nova, ProximaNova, Arial, sans-serif;
$font-tag: 'Oswald', Arial, sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-semibold: 600;

// Color Pallete ---------------------------------------------------------------
//$color-black: #000;
$color-black-transparent: transparentize($color-black, 1);
$color-black-fade1: transparentize($color-black, .9);
$color-black-fade2: transparentize($color-black, .75);
$color-black-fade3: transparentize($color-black, .5);
$color-black-fade4: transparentize($color-black, .25);
$color-black-fade5: transparentize($color-black, .1);
//$color-white: #fff;
$color-white-transparent: transparentize($color-white, 1);
$color-white-fade1: transparentize($color-white, .9);
$color-white-fade2: transparentize($color-white, .75);
$color-white-fade3: transparentize($color-white, .5);
$color-white-fade4: transparentize($color-white, .25);
$color-white-fade5: transparentize($color-white, .1);
$color-grey0: #f6f6f6;
// $color-grey1: #edefed;
// $color-grey2: #c2ced1;
// $color-grey3: #a6b6bd;
// $color-grey4: #4c626d;
// $color-grey5: #0f2834;
// $color-purple: #8241ad;
//$color-magenta: #B12197;
//$color-pink: #e3068f;
//$color-lilac:  #5361C4;
//$color-blue: #1591ed;
$color-blue-facebook: #3a5a99;
$color-red: #d61a54;
$color-red-dark: #8f0e3d;

$theme-gradient-angle: 135deg;
$theme-gradient-mix: mix($color-pink, $color-blue);
$theme-gradient: linear-gradient($theme-gradient-angle, $color-pink, $color-blue);
$theme-gradient-fade: linear-gradient($theme-gradient-angle,
  transparentize($color-pink, .2), transparentize($color-blue, .2));

$theme-gradient-angle-inverse: -45deg;
$full-gradient: linear-gradient($theme-gradient-angle-inverse, $color-pink 0%, $color-blue 100%);
$half-cold-gradient: linear-gradient($theme-gradient-angle-inverse, $color-purple, 0% $color-blue 100%);
$half-hot-gradient: linear-gradient($theme-gradient-angle-inverse, $color-pink 0%, $color-purple 100%);
$medium-gradient: linear-gradient($theme-gradient-angle-inverse, $color-magenta 0%, $color-lilac 100%);


// Sizes -----------------------------------------------------------------------
$text-size-label: 10px;
$text-size-label-big: 12px;
$text-size-button: 14px;
$text-size-big: 16px;
$text-size-huge: 18px;
$text-size-heading: 22px; // old: 14px
$list-item-margin: 20px;
$text-size-world: 24px;

// Animations ------------------------------------------------------------------
$swift-out: cubic-bezier(.55, 0, .1, 1);
$ease-in-out: cubic-bezier(.75, 0, .25, 1);

$time-fast: 100ms;
$time-normal: 250ms;
$time-slow: 1000ms;
$time-very-slow: 1500ms;

$animation-fast: $time-fast $swift-out;
$animation-normal: $time-normal $swift-out;
$animation-slow: $time-slow $swift-out;
$animation-very-slow: $time-very-slow $swift-out;

// Element Definitions ---------------------------------------------------------
$toolbar-padding: 8px;
$navbar-height: 44px;
$navbar-attachment-height: 22px;
$navbar-icon-size: 22px;
$tabbar-height: 49px;
$tabbar-icon-size: 30px;
$button-height-normal: 32px;
$button-height-big: 44px;
$list-separator-color: $color-grey0;

