$red: rgb(180, 48, 68);
$break-small: 800px;

html, body {
	height: 100%;
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	letter-spacing: 0.02em;
	background: #fff;
}

p {
	@media screen and (max-width: $break-small) {
		font-size: 16px !important;
	}
}